.tile {
    margin-bottom: 20px;
    height:250px;
    width: 100%;
    font-size: 10vmin;
    font-size: 10vh;
}

.botonMenu{
	background-color: #42f489;
	border-radius: 4px;
	transition-duration: 0.4s;
}

